<header>
        <div class="main-container">
            <div class="logotipo">
                <img src="img/logo.png" alt="">
            </div>
            <nav>
                <ul class="menu-desktop">
                    <li>
                        <a href="{% url 'index' %}">Inicio</a>
                    </li>
                    <li>
                        <a href="#rescate">Rescate</a>
                    </li>
                    <li>
                        <a href="#galeria">Galería</a>
                    </li>
                   
                    <li>
                        <a href="#contacto">Adopción</a>
                    </li>
                </ul>
                
                <ul class="menu-movil">
                    <li>
                        <a href="index.html">Inicio</a>
                    </li>
                    <li>
                        <a href="#rescate">Rescate</a>
                    </li>
                    <li>
                        <a href="#galeria">Galería</a>
                    </li>
                    
                    <li>
                        <a href="#contacto">Contáctanos</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>